.a-propos-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}

.a-propos-navbar {
    margin-bottom: 30px;
}

.a-propos-container1 {
    width: 393px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.a-propos-image {
    width: 100px;
    object-fit: cover;
    transition: 0.3s;
}

.a-propos-image:hover {
    width: 110px;
}

.a-propos-text {
    transition: 0.3s;
}

.a-propos-text:hover {
    color: var(--dl-color-blueish-highlight3);
    cursor: default;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
}

.a-propos-links-container {
    width: 567px;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
}

.a-propos-text02 {
    text-align: center;
    font-family: Nunito;
}

.a-propos-navlink1 {
    text-decoration: none;
}

.a-propos-text04 {
    font-family: Nunito;
}

.a-propos-burger-menu {
    display: none;
    align-items: flex-start;
    flex-direction: column;
}

.a-propos-image1 {
    width: 100px;
    object-fit: cover;
}

.a-propos-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: var(--dl-space-space-tripleunit);
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
}

.a-propos-container2 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: row;
    justify-content: space-between;
}

.a-propos-close-menu {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.a-propos-icon {
    width: 24px;
    height: 24px;
}

.a-propos-links-container1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.a-propos-link {
    margin-bottom: var(--dl-space-space-unit);
}

.a-propos-link1 {
    margin-bottom: var(--dl-space-space-unit);
}

.a-propos-link2 {
    margin-bottom: var(--dl-space-space-unit);
}

.a-propos-hero {
    width: 100%;
    display: flex;
    padding: 32px;
    padding-right: 10%;
    margin-inline: 3%;
    min-height: 80vh;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.a-propos-image2 {
    height: 550px;
    width: 45%;
    object-fit: cover;
}

.a-propos-container3 {
    display: flex;
    margin-left: 32px;
    flex-direction: column;
}

.a-propos-text07 {
    font-size: 3rem;
    font-family: Nunito;
    font-weight: 300;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: var(--dl-color-blueish-highlight2);
}

.a-propos-text08 {
    margin-top: 32px;
    font-family: Nunito;
    margin-bottom: 32px;
    padding-right: 48px;
}

.a-propos-footer {
    margin-top: 30px;
}

.a-propos-container4 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-end;
}

.a-propos-link4 {
    text-decoration: none;
}

.a-propos-link5 {
    text-decoration: none;
}

.a-propos-link6 {
    text-decoration: none;
}

@media(max-width: 991px) {
    .a-propos-heading {
        text-align: center;
    }
    .a-propos-hero {
        padding: 48px;
        flex-direction: column;
        margin-inline: auto;
    }
    .a-propos-image2 {
        width: 100%;
        order: 2;
    }
    .a-propos-container3 {
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 32px;
    }
    .a-propos-text07 {
        text-align: center;
    }
    .a-propos-text08 {
        text-align: center;
        padding-left: var(--dl-space-space-fourunits);
    }
}

@media(max-width: 767px) {
    .a-propos-links-container {
        display: none;
    }
    .a-propos-burger-menu {
        width: 59px;
        height: 58px;
        display: flex;
        padding: var(--dl-space-space-halfunit);
        margin-left: var(--dl-space-space-tripleunit);
        border-radius: var(--dl-radius-radius-radius4);
        background-color: #212121;
    }
    .a-propos-image1 {
        width: 51px;
        height: 51px;
        align-self: center;
    }
    .a-propos-hero {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media(max-width: 479px) {
    .a-propos-burger-menu {
        margin-left: var(--dl-space-space-doubleunit);
    }
    .a-propos-hero {
        padding-top: 32px;
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: 32px;
    }
    .a-propos-container3 {
        margin-bottom: var(--dl-space-space-unit);
    }
    .a-propos-text08 {
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
    }
    .a-propos-link4 {
        font-size: 10px;
    }
    .a-propos-link5 {
        font-size: 10px;
    }
    .a-propos-link6 {
        font-size: 10px;
    }
}