.home-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}

.home-navbar {
    margin-bottom: 30px;
    background-image: url("Assets/Header@4x.png");
    background-repeat: repeat-x;
    height: auto;
}

.home-container01 {
    width: 393px;
    height: 100px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-image {
    width: 100px;
    object-fit: cover;
    transition: 0.3s;
}

.home-image:hover {
    width: 110px;
}

.home-text {
    transition: 0.3s;
}

.home-text:hover {
    color: var(--dl-color-blueish-highlight3);
    cursor: default;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
}

.home-links-container {
    width: 567px;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
}

.home-text02 {
    text-align: center;
    font-family: Nunito;
}

.home-navlink1 {
    text-decoration: none;
}

.home-text04 {
    font-family: Nunito;
}

.home-burger-menu {
    display: none;
    align-items: flex-start;
    flex-direction: column;
}

.home-image1 {
    width: 100px;
    object-fit: cover;
}

.home-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: var(--dl-space-space-tripleunit);
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
}

.home-container02 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: row;
    justify-content: space-between;
}

.home-close-menu {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-icon {
    width: 24px;
    height: 24px;
}

.home-links-container1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-link {
    margin-bottom: var(--dl-space-space-unit);
}

.home-link1 {
    margin-bottom: var(--dl-space-space-unit);
}

.home-link2 {
    margin-bottom: var(--dl-space-space-unit);
}

.home-hero {
    display: flex;
    max-width: 1400px;
    align-items: center;
    margin-left: 19%;
    margin-top: 25px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: space-between;
}

.home-container03 {
    flex: 1;
    display: flex;
    margin-right: 48px;
    padding-right: 48px;
    flex-direction: column;
}

.home-text07 {
    font-size: 20px;
}

.home-text10 {
    color: #393939;
    margin-top: 0px;
    margin-bottom: 0px;
}

.home-text14 {
    font-size: 2rem;
    margin-top: 10px;
    font-family: Nunito;
    font-weight: 400;
    margin-bottom: 10px;
}

.home-container04 {
    display: flex;
    align-self: stretch;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    margin-left: var(--dl-space-space-fiveunits);
    margin-right: var(--dl-space-space-fiveunits);
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: column;
    border-top: solid;
    border-top-width: 2px;
    border-color: var(--dl-color-blueish-highlight3);
}

.home-container05 {
    height: 450px;
    display: flex;
    align-self: stretch;
    margin-top: 30px;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    justify-content: center;
}

.home-image2 {
    top: 0px;
    left: 0px;
    right: auto;
    width: 100%;
    bottom: auto;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.home-container06 {
    width: 100%;
    height: inherit;
    display: flex;
    opacity: 0;
    padding: 32px;
    z-index: 1;
    transition: 0.3s;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));
    text-align: center;
}

.home-container06:hover {
    opacity: 1;
}

.home-text17 {
    color: var(--dl-color-gray-white);
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 24px;
}

.home-text18 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    text-align: center;
}

.home-image3 {
    top: 0px;
    left: 0px;
    right: auto;
    width: 100%;
    bottom: auto;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.home-container07 {
    width: 100%;
    height: inherit;
    display: flex;
    opacity: 0;
    padding: 32px;
    z-index: 1;
    transition: 0.3s;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));
    ;
}

.home-container07:hover {
    opacity: 1;
}

.home-text19 {
    color: var(--dl-color-gray-white);
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 24px;
}

.home-text20 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    text-align: center;
}

.home-container08 {
    height: auto;
    display: flex;
    align-self: stretch;
    margin-top: 30px;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    justify-content: center;
}

.home-gallery-card2 {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.home-image4 {
    top: 0px;
    left: 0px;
    right: auto;
    width: 100%;
    bottom: auto;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.home-container09 {
    width: 100%;
    height: inherit;
    display: flex;
    opacity: 0;
    padding: 32px;
    z-index: 1;
    transition: 0.3s;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));
    ;
}

.home-container09:hover {
    opacity: 1;
}

.home-text21 {
    color: var(--dl-color-gray-white);
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 24px;
}

.home-text22 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    text-align: center;
    width: auto;
}

.home-gallery-card3 {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.home-image5 {
    top: 0px;
    left: 0px;
    right: auto;
    width: 100%;
    bottom: auto;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.home-container10 {
    width: 100%;
    height: inherit;
    display: flex;
    opacity: 0;
    padding: 32px;
    z-index: 1;
    transition: 0.3s;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));
    ;
}

.home-container10:hover {
    opacity: 1;
}

.home-text23 {
    color: var(--dl-color-gray-white);
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 24px;
}

.home-text24 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    text-align: center;
}

.home-gallery-card4 {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.home-image6 {
    top: 0px;
    left: 0px;
    right: auto;
    width: 100%;
    bottom: auto;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.home-container11 {
    width: 100%;
    height: inherit;
    display: flex;
    opacity: 0;
    padding: 32px;
    z-index: 1;
    transition: 0.3s;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));
    ;
}

.home-container11:hover {
    opacity: 1;
}

.home-text25 {
    color: var(--dl-color-gray-white);
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 24px;
}

.home-text26 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    text-align: center;
}

.home-footer {
    margin-top: 30px;
}

.home-container12 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.home-link4 {
    text-decoration: none;
}

.home-link5 {
    text-decoration: none;
}

.home-link6 {
    text-decoration: none;
}

@media(max-width: 991px) {
    .home-heading {
        text-align: center;
    }
    .home-hero {
        flex-direction: column;
    }
    .home-container03 {
        align-items: center;
        margin-right: 0px;
        margin-bottom: 32px;
        padding-right: 0px;
    }
    .home-text10 {
        text-align: center;
        padding-left: 48px;
        padding-right: 48px;
    }
    .home-text14 {
        text-align: center;
    }
    .home-container05 {
        height: auto;
        flex-direction: column;
    }
    .home-container08 {
        height: auto;
        flex-direction: column;
    }
    .home-navbar {
        background-size: cover;
    }
}

@media(max-width: 767px) {
    .home-links-container {
        display: none;
    }
    .home-burger-menu {
        width: 59px;
        height: 58px;
        display: flex;
        padding: var(--dl-space-space-halfunit);
        margin-left: var(--dl-space-space-tripleunit);
        border-radius: var(--dl-radius-radius-radius4);
        background-color: #212121;
        margin-block: auto;
    }
    .home-image1 {
        width: 51px;
        height: 51px;
        align-self: center;
    }
    .home-hero {
        padding-left: 32px;
        padding-right: 32px;
    }
    .home-text10 {
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
    }
}

@media(max-width: 479px) {
    .home-burger-menu {
        margin-left: var(--dl-space-space-doubleunit);
    }
    .home-hero {
        padding-top: 32px;
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: 32px;
    }
    .home-container03 {
        margin-bottom: var(--dl-space-space-unit);
    }
    .home-text17 {
        align-self: center;
        margin-bottom: var(--dl-space-space-unit);
    }
    .home-text19 {
        align-self: center;
        margin-bottom: var(--dl-space-space-unit);
    }
    .home-text21 {
        align-self: center;
        margin-bottom: var(--dl-space-space-unit);
    }
    .home-text23 {
        align-self: center;
        margin-bottom: var(--dl-space-space-unit);
    }
    .home-text25 {
        align-self: center;
        margin-bottom: var(--dl-space-space-unit);
    }
    .home-link4 {
        font-size: 10px;
    }
    .home-link5 {
        font-size: 10px;
    }
    .home-link6 {
        font-size: 10px;
    }
}