.card-pro-img {
  width: 100%;
}

.logo:hover {
  color: rgb(132,74,255);
}

.nav-link:hover, .nav-link:focus {
  color: rgb(132,74,255);
}

.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
  color: #844aff;
}

.Project-name {
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.17,.67,.53,.98);
  opacity: 0;
  transform: translate(0%,50%);
  text-align: center;
  color: white;
  font-size: 25px;
  text-decoration: none;
}

@media (min-width: 576px) {
  .zoom-on-hover:hover .Project-name {
    opacity: 100;
    transform: translate(0%);
  }
}

.Project-desc {
  transition-duration: .6s;
  transition-timing-function: cubic-bezier(.17,.67,.53,.98);
  opacity: 0;
  transform: translate(0%,50%);
  text-align: center;
  color: #dedede;
  font-size: 15px;
  text-decoration: none;
}

@media (min-width: 576px) {
  .zoom-on-hover:hover .Project-desc {
    opacity: 100%;
    transform: translate(0%);
    transition-delay: .1s;
  }
}

.pro-card-img {
  transition: .8s ease;
  background: url("/assets/img/tech/Desert.png") center / cover no-repeat;
  height: 100%;
}

.portfolio-navbar .navbar-nav .nav-link {
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 576px) {
  a {
    height: auto;
  }
}

.item.zoom-on-hover {
  align-self: center !important;
}

.Img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-pro-link {
  height: 100%;
}

.pro-card {
  height: 250px;
  display: flex;
}

.page-footer .social-icons a {
  transition-duration: .1s;
  filter: brightness(100%) sepia(50) saturate(0%) hue-rotate(-100deg);
  transition-timing-function: ease-out;
  font-size: 30px;
  margin: 0 20px;
  color: #fff;
  border: 1px solid;
  opacity: 0.75;
  border-radius: 50%;
  width: 36px;
  display: grid;
  height: 36px;
  text-align: center;
  background: rgba(197,201,210,0);
  line-height: 34px;
  border-width: 0;
}

.Foot-text {
  transition: .5s;
  font-size: 18px;
  opacity: 0;
}

.Foot-div {
  display: inline-grid;
  transform: translate(-50%);
}

.Foot-link:hover {
  opacity: 100;
}

.page-footer .social-icons a:hover {
  opacity: 1;
  filter: brightness(50%) sepia(50) saturate(80) hue-rotate(-100deg);
}

.portfolio-block.block-intro .about-me {
  max-width: 800px;
  margin: auto;
}

.Footer_text {
  text-decoration: none;
  margin-top: 5px;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 992px) {
  .social-icons {
    justify-content: center;
  }
}

.portfolio-block.cv .education.group .organization {
  background-color: var(--bs-cyan);
}

.Game {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

.Pro_Image {
  height: 450px;
  background: linear-gradient(90deg, #ffffff, #d8534c 17%, #d8534c 83%, rgb(255,255,255) 100%);
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .Pro_Image {
    height: 250px;
  }
}

@media (max-width: 350px) {
  .Pro_Image {
    height: 150px;
  }
}

.SubTitle {
  font-size: 25px;
  color: rgba(33,37,41,0.62);
}

.parallax {
  background-attachment: fixed;
  background-position: top;
}

.Player {
  width: 30%;
}

.logo {
  vertical-align: middle;
}

.Card_Desc {
  text-align: center;
  transition: .4s ease-out;
  transition-delay: .1s;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
}

.Skill_desc {
  text-align: left;
}

.On-Hover:hover .Card_name {
  transform: translate(0%);
}

.Card_name {
  transition: .3s ease-out;
  transition-delay: .05s;
  transform: translate(0);
  opacity: 100;
}

.scale-on-hover:hover .Card_name {
  transform: translateY(15px);
  opacity: 0;
}

.scale-on-hover:hover .Card_Desc {
  transform: translateY(15px);
}

@media (min-width: 576px) {
  .scale-on-hover:hover.card-img-top {
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0,0,0,.15) !important;
  }
}

.card-img-top {
}

.on_hover:hover .card-img-top {
  transform: scale(1.05);
  box-shadow: 0px 10px 10px rgba(0,0,0,.15) !important;
}

.on_hover:hover .Card_name {
  transform: translateY(15px);
}

.on_hover:hover .Card_Desc {
  transform: translateY(10px);
}

.rounded {
  border-radius: var(--bs-border-radius-xl) !important;
}

.page-footer {
  margin-top: auto;
  padding-top: 35px;
  border-top: 1px solid #ddd;
  text-align: center;
  padding-bottom: 20px;
  bottom: 0;
  width: 100%;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

